spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/PDB1
    username: BANK_APP
    password: root
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
